@model Inveni.Models.TematicaMestre

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-3">
        <div class="d-flex flex-column align-items-center mt-4">
            <a asp-action="Index" class="d-flex align-items-center text-warning">
                <img id="voltar-imagem" width="30" height="30"
                     src="https://img.icons8.com/external-solid-adri-ansyah/64/0d6efd/external-ui-basic-ui-solid-adri-ansyah-26.png"
                     alt="plus--v1" style="cursor: pointer;" />
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-4">
            <h1>Minhas Temáticas</h1>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-2 mb-1">
            <p class="d-flex align-items-center" style="font-size: 25px" ;>
                Cadastro
                <img width="30" height="30" class="ms-2" src="https://img.icons8.com/ios-filled/50/0d6efd/plus.png" alt="plus" />
            </p>
        </div>
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TematicaId" class="control-label"></label>
                        <select asp-for="TematicaId" class="form-control mt-2" asp-items="ViewBag.TematicaId">
                            <option value="" disabled>Selecione uma temática</option>
                        </select>
                        <span id="msg"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="Biografia" class="control-label"></label>
                        <textarea asp-for="Biografia" class="form-control mt-2" style="height: 4cm;"></textarea>
                        <span asp-validation-for="Biografia" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="ModeloId" class="control-label"></label>
                        <select asp-for="ModeloId" class="form-control mt-2" asp-items="ViewBag.ModeloId">
                            <option value="" disabled>Selecione um modelo</option>
                        </select>
                        <span id="msg"></span>
                    </div>
                    <div class="form-group form-check mt-3">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                        </label>
                    </div>
                    <div class="form-group col-12 mt-3 text-center">
                        <input type="submit" id="botao" disabled="disabled" value="Cadastrar" class="btn btn-warning text-white" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3">
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $("#TematicaId").focusout(function () {
        var tematicaId = $(this).val();
        $.ajax({
            dataType: "json",
            type: "POST",
            url: "/TematicaMestres/ValidaCadastro/",
            data: { tematicaId },
            success: function (retorno) { // Corrigir "sucess" para "success"
                if (retorno === "s") {
                    $("#botao").attr('disabled', 'disabled');
                    $("#msg").text("Temática já cadastrada!");
                    $("#msg").removeAttr("class");
                    $("#msg").attr("class", "text-danger");
                } else {
                    $("#botao").removeAttr("disabled");
                    $("#msg").text("Temática validada!");
                    $("#msg").removeAttr("class");
                    $("#msg").attr("class", "text-success");
                }
            },
        });
    });
</script>

<script>
    document.getElementById("voltar-imagem").addEventListener("click", function () {
        // Quando a imagem for clicada, redirecionar para a ação "Create"
        window.location.href = "/TematicaMestres/Index"; // Substitua "ControllerName" pelo nome real do seu controlador
    });
</script>
