@model Inveni.Models.TematicaMestre

@{
    ViewData["Title"] = "Create";
}

<h1>Minhas Temáticas</h1>

<h4>Cadastro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Biografia" class="control-label"></label>
                <input asp-for="Biografia" class="form-control" />
                <span asp-validation-for="Biografia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TematicaId" class="control-label"></label>
                <select asp-for="TematicaId" class="form-control" asp-items="ViewBag.TematicaId"></select>
                <span id="msg"></span>
            </div>
            <div class="form-group form-check mt-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group mt-3">
                <input type="submit" id="botao" disabled="disabled" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Temáticas Cadastradas</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $("#TematicaId").focusout(function () {
        var tematicaId = $(this).val();
        $.ajax({
            dataType: "json",
            type: "POST",
            url: "/TematicaMestres/ValidaCadastro/",
            data: { tematicaId },
            success: function (retorno) { // Corrigir "sucess" para "success"
                if (retorno === "s") {
                    $("#botao").attr('disabled', 'disabled');
                    $("#msg").text("Temática já cadastrada!");
                    $("#msg").removeAttr("class");
                    $("#msg").attr("class", "text-danger");
                } else {
                    $("#botao").removeAttr("disabled");
                    $("#msg").text("Temática validada!");
                    $("#msg").removeAttr("class");
                    $("#msg").attr("class", "text-success");
                }
            },
        });
    });
</script>

