@model Inveni.Models.Usuario

@{
    ViewData["Title"] = "Edição";
}
<div class="row">
    <div class="col-3">
        <div class="d-flex flex-column align-items-center mt-4">
            <p class="d-flex align-items-center">
                <img id="voltar-imagem"
                     width="30"
                     height="30"
                     src="https://img.icons8.com/external-solid-adri-ansyah/64/007BFF/external-ui-basic-ui-solid-adri-ansyah-26.png"
                     alt="plus--v1"
                     style="cursor: pointer;" />
                <a asp-action="Index" class="ms-2 me-2 text-black" style="text-decoration: none; font-size: 20px;"></a>
            </p>
        </div>
    </div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-4">
            <h1>Usuários</h1>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-2 mb-1">
            <p class="d-flex align-items-center" style="font-size: 25px;" ;>
                Editar Status
                <img width="25" height="25" class="ms-2" src="https://img.icons8.com/ios-glyphs/30/007BFF/edit--v1.png" alt="edit--v1" />
            </p>
        </div>
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Nome" />
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="Senha" />
@*                    <div class="form-group mt-3 text-center align-items-center">
                        <div class="form-group text-center">
                            <div id="imageContainer" class="mt-2 text-center align-items-center" style="width: 200px; height: 200px; overflow: hidden; border-radius: 50%; background-color: #fff; cursor: pointer; position: relative; display: flex; align-items: center; justify-content: center;">
                                <img id="previewImage" src="@Url.Content(ViewData["UsuarioCaminhoFoto"].ToString())" alt="Foto do Perfil" style="max-width: 100%; max-height: 100%; object-fit: cover; border-radius: 50%;" />
                            </div>
                        </div>
                    </div>*@
                    <div class="form-group text-center">
                        <p style="font-size: 25px;" ;>
                            @ViewData["UsuarioNome"]
                        </p>
                    </div>
                    <div class="form-group mt-3 text-center">
                        <p style="font-size: 20px;" ;>
                            @ViewData["UsuarioEmail"]
                        </p>
                    </div>

                    <div class="form-group form-check mt-4 text-center align-items-center">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Ativo" id="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                        </label>
                    </div>
                    <div class="form-group col-12 mt-4 text-center">
                        <input type="submit" value="Salvar" class="btn btn-primary btn-block btn-primary text-white" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3">
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    document.getElementById("voltar-imagem").addEventListener("click", function () {
        // Quando a imagem for clicada, redirecionar para a ação "Create"
        window.location.href = "/Usuarios/Index"; // Substitua "ControllerName" pelo nome real do seu controlador
    });
</script>
