@model Inveni.ViewModel.EsqueciSenhaViewModel
@{
    ViewBag.Subtitulo = "E-mail de Redefinição de Senha Enviado";
}
<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6">
            <div class="card my-5 mx-auto" style="max-width: 50rem;">
                <div class="card-header text-center">
                    <h2 class="mb-0">Email de Redefinição de Senha Enviado</h2>
                </div>
                <div class="card-body">
                    <p class="lead text-center">
                        Uma mensagem contendo o link de redefinição de sua senha foi enviado para seu e-mail. Acesse sua caixa de mensagens e clique no link recebido para redefinir sua senha.
                    </p>
                    <p class="lead text-center">
                        Caso queira retornar a pagina de login, clique no botão abaixo.
                    </p>

                   <div class="row">
                        <div class="w-100"></div>
                        <div class="mt-3 text-center">
                            <a asp-action="Acesso" asp-controller="Usuarios" class="btn btn-outline-secondary">Voltar ao Login</a>
                        </div>
                   </div>                    
                </div>
            </div>
        </div>
    </div>
</div>




