
@{
    ViewData["Title"] = "ErrorPaginaNaoEncontrada";
}

<<div class="error-container">
    <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/007BFF/error--v1.png" alt="error--v1" />
    <div class="error-message">
        <h1>Erro 404</h1>
        <p>
            Página não encontrada!
        </p>
    </div>
</div>

