
@{
    ViewData["Title"] = "ErrorPermissaoAcesso";
}


<div class="error-container">
    <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/007BFF/error--v1.png" alt="error--v1" />
    <div class="error-message">
        <h1>Erro 403</h1>
        <p>
            O usuário não possui permissão de acesso à página solicitada!
        </p>
    </div>
</div>
