@model IEnumerable<Inveni.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create">Cadastrar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="mx-3">
                        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/edit--v1.png" alt="edit--v1" />
                </a> 
                |
                 <a asp-action="Delete" asp-route-id="@item.Id" class="mx-3">
                        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png" alt="filled-trash" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
