@model IEnumerable<Inveni.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-4">
            <h1>Categorias</h1>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-2 mb-1">
            <p class="d-flex align-items-center">
                <a asp-action="Create" class="ml-2 me-2 text-black" style="text-decoration: none; font-size: 25px;">Cadastrar Nova</a>
                <img id="cadastrar-imagem"
                     width="30"
                     height="30"
                     src="https://img.icons8.com/ios-filled/50/FD7E14/plus.png"
                     alt="plus--v1"
                     style="cursor: pointer;" />
            </p>
        </div>
        @*<hr/>*@
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Descricao)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descricao)
                                </td>
                                @*<td class="text-right align-items-end text-end">
                                    <a asp-action="Delete" asp-route-id="@item.Id">
                                        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FD7E14/trash.png" alt="Cadastrar" />
                                    </a>
                                </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>


<script>
    document.getElementById("cadastrar-imagem").addEventListener("click", function () {
        // Quando a imagem for clicada, redirecionar para a ação "Create"
        window.location.href = "/Categorias/Create"; // Substitua "ControllerName" pelo nome real do seu controlador
    });
</script>