@model Inveni.Models.Material

@{
    ViewData["Title"] = "Cadastro";
}

<div class="row">
    <div class="col-3">
        <div class="d-flex flex-column align-items-center mt-4">
            <a asp-area="" asp-controller="Material" asp-action="Index" class="d-flex align-items-center">
                <img id="voltar-imagem"width="30" height="30"
                     src="https://img.icons8.com/external-solid-adri-ansyah/64/007BFF/external-ui-basic-ui-solid-adri-ansyah-26.png" alt="external-ui-basic-ui-solid-adri-ansyah-26"
                     alt="Voltar" style="cursor: pointer;" />
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-4">
            <h1>Materiais Enviados</h1>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-2 mb-1">
            <p class="d-flex align-items-center" style="font-size: 25px" ;>
                Cadastro
            </p>
        </div>
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
        <div class="card blue-bordered-card">
            <div class="card-body">
                <form id="createForm" asp-action="Create" enctype="multipart/form-data" onsubmit="return validateForm()" class="mx-auto align-items-center text-center">
                    <div class="form-group text-center">
                        <label asp-for="Arquivo" class="control-label"></label>
                        <div class="custom-file mt-3">
                            <input type="file" asp-for="Arquivo" class="custom-file-input" id="inputFile" style="display: none;" onchange="displayFileName()" />
                            <label class="custom-file-label" for="inputFile">
                                <img src="https://img.icons8.com/material-sharp/24/007BFF/download--v1.png" alt="Ícone de Download" style="width: 35px; height: 35px;" />
                                <span>Click aqui para carregar</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <span id="fileNameLabel"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" id="submitButton" value="Carregar" class="btn btn-primary text-white" disabled />
                    </div>
                </form>
            </div>
    </div>
    </div>
    <div class="col-3">
    </div>
</div>

@section scripts {
    <script>
        document.getElementById('inputFile').addEventListener('change', function () {
            validateForm();
            displayFileName();
        });

        function validateForm() {
            var fileInput = document.getElementById('inputFile');
            var submitButton = document.getElementById('submitButton');

            if (fileInput.files.length > 0) {
                submitButton.disabled = false;
                return true;
            } else {
                submitButton.disabled = true;
                return false;
            }
        }

        function displayFileName() {
            var fileInput = document.getElementById('inputFile');
            var fileNameLabel = document.getElementById('fileNameLabel');

            if (fileInput.files.length > 0) {
                fileNameLabel.textContent = fileInput.files[0].name;
            } else {
                fileNameLabel.textContent = '';
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#createForm").submit(function (event) {
                event.preventDefault(); // Evita o envio padrão do formulário

                var formData = new FormData(this);

                $.ajax({
                    type: "POST",
                    url: $(this).attr("action"),
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: 'Sucesso!',
                                text: 'Material carregado com sucesso.',
                                icon: 'success',
                                timer: 60000, // Duração do alerta em milissegundos
                                showConfirmButton: false // Remove o botão de confirmação
                            }).then(() => {
                                window.location.href = '/Material/Index';
                            });
                        } else {
                            Swal.fire({
                                title: 'Erro!',
                                text: response.message,
                                icon: 'error',
                                timer: 50000, // Duração do alerta em milissegundos
                                showConfirmButton: false // Remove o botão de confirmação
                            }).then(() => {
                                window.location.href = '/Material/Create';
                            });
                        }
                    }
                });
            });
        });
    </script>

    <script>
        document.getElementById("voltar-imagem").addEventListener("click", function () {
            // Quando a imagem for clicada, redirecionar para a ação "Create"
            window.location.href = "/Material/Index"; // Substitua "ControllerName" pelo nome real do seu controlador
        });
    </script>
}
