@model Inveni.Models.Material

@{
    ViewData["Title"] = "Exclusão";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-body pt-5">
                <form id="deleteForm" asp-action="Delete">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NomeArquivo)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NomeArquivo)
                        </dd>
                        <div class="form-group col-12 mt-3 text-center">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Deletar" class="btn text-white btn-outline-primary" />
                            <a asp-action="Index" class="btn btn-outline-secondary ms-2">Voltar</a>
                        </div>
                    </dl>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>



<script>
    $(document).ready(function () {
        $("#deleteForm").submit(function (event) {
            event.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data: formData,
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Sucesso!',
                            text: response.message,
                            icon: 'success',
                            timer: 4000,
                            showConfirmButton: false
                        }).then(() => {
                            window.location.href = '/Material/Index';
                        });
                    } else {
                        Swal.fire({
                            title: 'Erro!',
                            text: response.message,
                            icon: 'error',
                            timer: 50000, // Duração do alerta em milissegundos
                            showConfirmButton: false // Remove o botão de confirmação
                        }).then(() => {
                            window.location.href = '/Material/Create';
                        });
                    }
                }
            });
        });
    });
</script>


