@model Inveni.Models.Matricula

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Matricula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AprendizId" class="control-label"></label>
                <select asp-for="AprendizId" class="form-control" asp-items="ViewBag.AprendizId"></select>
                <span asp-validation-for="AprendizId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TematicasMestreId" class="control-label"></label>
                <select asp-for="TematicasMestreId" class="form-control" asp-items="ViewBag.TematicaMestreId"></select>
                <span asp-validation-for="TematicasMestreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

