html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

  background-image: url("'../imagens/fundo estudeja.png'");
  height:120vh;
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
}

.header-azul {
    background-color: rgb(0, 123, 255);
}

.floating-email {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    z-index: 1000;
}

    .floating-email a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

        .floating-email a:hover {
            background-color: #0056b3;
            text-decoration: none;
            color: white;
        }

    .floating-email .material-symbols-outlined {
        margin-right: 8px;
        font-size: 24px;
        color: white;
    }
    html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

  background-image: url("'../imagens/fundo estudeja.png'");
  height:120vh;
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
}

.azulfundo {
    background-color: #2400F0;
}

.floating-email {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    z-index: 1000;
}

    .floating-email a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

        .floating-email a:hover {
            background-color: #0056b3;
            text-decoration: none;
            color: white;
        }

    .floating-email .material-symbols-outlined {
        margin-right: 8px;
        font-size: 24px;
        color: white;
    }


.img-fluid {
    max-width: 40%;
    max-height: 40%;
}

.nav-item {

    display: flex; /* Enable flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center;
}

.d-flex {
    display: flex; /* Enable flexbox for the container */
    justify-content: center; /* Horizontally center the child elements (image and login divs) */
}


.blue-background { /* Create a class named "blue-background" */
    background-color: dodgerblue; /* Set the background color to blue */
}

.paddingb {
    padding-bottom: 30px;
    padding-top: 20px;
}


.blue-bordered-card {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-left: 10px solid #007BFF; /* Faixa azul no canto esquerdo */
}

.new-font{

}

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

    .notification-item:last-child {
        border-bottom: none;
    }

    .notification-item p {
        margin: 0;
        flex-grow: 1;
    }

#tabela-material tr td:last-child a {
    float: left;
    margin-right: .5rem;
}


#tabela-material tr td:last-child a {
    margin-right: -5px;
}

.card-body .form-group label::after {
    content: "* ";
    color: red;
}